<div class="center jumbotron">
  <h1>Welcome to Member Skill Bord</h1>

  <h2>
    <%= link_to "アカウント作成", member_new_path, class: "btn btn-lg btn-primary" %>
  </h2>
  <h2>
    <%= link_to "プロジェクト作成", project_new_path, class: "btn btn-lg btn-primary" %>
  </h2>

  <%= link_to "Projects", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Members", '#', class: "btn btn-lg btn-primary" %>
</div>
