<div class="center jumbotron">
  <h1>Welcome to Member Skill Bord</h1>

  <h2>
    <%= link_to "アカウント作成", new_member_path, class: "btn btn-lg btn-primary" %>
  </h2>
  <h2>
    <%= link_to "プロジェクト作成", new_project_path, class: "btn btn-lg btn-primary" %>
  </h2>

  <%= link_to "Projects", projects_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Members", members_path, class: "btn btn-lg btn-primary" %>
</div>
