 <%= form_tag members_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :keyword, params[:keyword] %>
    <%= submit_tag "メンバー検索", :name => nil %>
  </p>
  <% end %>

<h1>All Members</h1>

<ul class="index">
  <% @members.each do |member| %>
    <li>
      <%= link_to member.name, member %>
    </li>
  <% end %>
</ul>